<!-- Core JS -->
<!-- build:js assets/vendor/js/core.js -->

<script src="/libs/jquery/jquery.js"></script>
<script src="/libs/popper/popper.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="/js/menu.js"></script>
<script src="/libs/apex-charts/apexcharts.js"></script>
<script src="/js/main.js"></script>
<script src="/js/dashboards-analytics.js"></script>
<script src="/js/pages-account-settings-account.js"></script>
<script src="/js/extended-ui-perfect-scrollbar.js"></script>
<script src="/libs/masonry/masonry.js"></script>
<script src="/js/form-basic-inputs.js"></script>
<script async defer src="https://buttons.github.io/buttons.js"></script>

{{{block "scripts"}}}
</body>

</html>